<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto ALL things</title>
</head>
<body>
    <h1 style="text-align: center;">Sistema All Things</h1>
    <h3 style="text-align: center;"><a href="/produtos/listar">
        Gerenciar Produtos</a>
    </h3>
    <h3 style="text-align: center;"><a href="/fornecedores/listar">
        Gerenciar Fornecedores</a>
    </h3>
    <h3 style="text-align: center;"><a href="/clientes/listar">
        Gerenciar Clientes</a>
    </h3>
</body>
</html>