<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Fornecedores</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Lista</h1>
    <h3 style="text-align: center;">
        <a href="/fornecedores/criar">Novo Fornecedor</a>
    </h3>

    <!--Tabela para exibir os clientes cadastrados-->
    <table align="center" border="1">
        <tr>
            <td colspan="7" style="text-align: center;">Lista de Fornecedores</td>
        </tr>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>CNPJ</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="fornecedor : ${fornecedores}">
            <td th:text="${fornecedor.nomeFornecedor}"></td>
            <td th:text="${fornecedor.enderecoFornecedor}"></td>
            <td th:text="${fornecedor.cidadeFornecedor}"></td>
            <td th:text="${fornecedor.estadoFornecedor}"></td>
            <td th:text="${fornecedor.cepFornecedor}"></td>
            <td th:text="${fornecedor.cnpjFornecedor}"></td>
        
            
            <td>
                <a th:href="@{/fornecedores/editar/{id}(id=${fornecedor.idFornecedor})}">
                    Editar
                </a>
        
                <a th:href="@{/fornecedores/excluir/{id}(id=${fornecedor.idFornecedor})}">
                    Excluir
                </a>
            </td>
        </tr>
    </table>

    <btn><a href="/allthings">Voltar</a></btn>
</body>
</html>