<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fomulário de Categorias</title>
</head>
<body>
    <h1 style="text-align: center;">Cadastro de Categorias</h1>
    <form th:action="@{/categorias/salvar}" method="post" th:object="${categoria}">

        <input type="hidden" name="idCategoria" th:field="*{idCategoria}">

        <label for="nomeCategoria">Nome:</label>
        <input 
            type="text"
            id="nomeCategoria"
            name="nomeCategoria"
            th:field="*{nomeCategoria}">
        <br /><br />
        <button type="submit">Salvar Categoria</button>

    </form>
</body>
</html>
