<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Categorias</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;">Lista</h1>
    <h3 style="text-align: center;">
        <a href="/categorias/criar">Nova Categoria</a>
    </h3>

    <!--Tabela para exibir as categorias cadastradas-->
    <table align="center" border="1">
        <tr>
            <td colspan="2" style="text-align: center;">Lista de Categorias</td>
        </tr>
        <tr>
            <th>Nome</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="categoria : ${categorias}">
            <td th:text="${categoria.nomeCategoria}"></td>

            <td>
                <a th:href="@{/categorias/editar/{id}(id=${categoria.idCategoria})}">
                    Editar
                </a>

                <a th:href="@{/categorias/excluir/{id}(id=${categoria.idCategoria})}">
                    Excluir
                </a>
            </td>
        </tr>
    </table>

    <btn><a href="/allthings">Voltar</a></btn>
</body>
</html>
